In [1]:
import pandas as pd
s = pd.Series([10, 20, 30, 40], index=["a", "b", "c", "d"])
print(s)

a    10
b    20
c    30
d    40
dtype: int64

In [3]:
data = {
"Возраст": [25, 30, 22],
"Город": ["Москва", "СПб", "Казань"]
}
df = pd.DataFrame(data, index=["Анна", "Иван", "Ольга"])
print(df)

       Возраст   Город
Анна        25  Москва
Иван        30     СПб
Ольга       22  Казань

In [5]:
print(df["Возраст"])

Анна     25
Иван     30
Ольга    22
Name: Возраст, dtype: int64

In [7]:
s = pd.Series([10, 20, 30], index=["a", "b", "c"])
df = s.to_frame(name="Значение")
print(df)

   Значение
a        10
b        20
c        30

In [9]:
s = df["Значение"]
print(s)

a    10
b    20
c    30
Name: Значение, dtype: int64

In [11]:
import pandas as pd
data = {
"Имя": ["Анна", "Иван", "Ольга"],
"Возраст": [25, 30, 22],
"Город": ["Москва", "СПб", "Казань"]
}
df = pd.DataFrame(data)
print(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [13]:
ages = pd.Series([25, 30, 22], index=["a", "b", "c"])
cities = pd.Series(["Москва", "СПб", "Казань"], index=["a", "b", "c"])
df = pd.DataFrame({"Возраст": ages, "Город": cities})
print(df)

   Возраст   Город
a       25  Москва
b       30     СПб
c       22  Казань

In [15]:
data = [
["Анна", 25, "Москва"],
["Иван", 30, "СПб"],
["Ольга", 22, "Казань"]
]
df = pd.DataFrame(data, columns=["Имя", "Возраст", "Город"])
print(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [17]:
data = [
{"Имя": "Анна", "Возраст": 25, "Город": "Москва"},
{"Имя": "Иван", "Возраст": 30}, # "Город" пропущен
{"Имя": "Ольга", "Возраст": 22, "Город": "Казань"}
]
df = pd.DataFrame(data)
print(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     NaN
2  Ольга       22  Казань

In [19]:
import numpy as np
data = np.array([
["Анна", 25, "Москва"],
["Иван", 30, "СПб"],
["Ольга", 22, "Казань"]
])
df = pd.DataFrame(data, columns=["Имя", "Возраст", "Город"])
print(df)

     Имя Возраст   Город
0   Анна      25  Москва
1   Иван      30     СПб
2  Ольга      22  Казань

In [21]:
numeric_data = np.array([
[25, 65.5],
[30, 78.2],
[22, 54.3]
])
df = pd.DataFrame(numeric_data, columns=["Возраст", "Вес"])
print(df)

   Возраст   Вес
0     25.0  65.5
1     30.0  78.2
2     22.0  54.3

In [23]:
df = pd.DataFrame(columns=["Имя", "Возраст", "Город"])
print(df)

Empty DataFrame
Columns: [Имя, Возраст, Город]
Index: []

In [25]:
df.loc[0] = ["Анна", 25, "Москва"]
df.loc[1] = ["Иван", 30, "СПб"]
print(df)

    Имя  Возраст   Город
0  Анна       25  Москва
1  Иван       30     СПб

In [27]:
import pandas as pd
df = pd.read_csv("data.csv")
print(df.head()) # Выведем первые 5 строк

         Дата  Цена
0  2024-03-01   100
1  2024-03-02   110
2  2024-03-03   105
3  2024-03-04   120
4  2024-03-05   115

In [29]:
df = pd.read_csv("data.csv", sep=";", index_col=0, na_values=["?", "N/A"])

In [31]:
df.to_csv("output.csv", index=False) # index=False — не сохранять индекс

In [ ]:
df = pd.read_excel("data.xlsx", sheet_name="Лист1")
print(df.head())

In [36]:
df.to_excel("output.xlsx", sheet_name="Результаты", index=False)

In [38]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\hesko\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\hesko\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [233]:
df.to_sql("users", conn, if_exists="replace", index=False )

3

In [51]:
df.to_json("output.json", orient="records", indent=4)

In [59]:
!pip install pyarrow

Requirement already satisfied: pyarrow in c:\users\hesko\anaconda3\lib\site-packages (16.1.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\hesko\anaconda3\lib\site-packages (from pyarrow) (1.26.4)

In [ ]:
df = pd.read_parquet("data.parquet")
print(df.head())

In [63]:
df.to_parquet("output.parquet", engine="pyarrow", index=False)

In [65]:
import pandas as pd
# Создадим небольшой DataFrame
data = {
"Имя": ["Анна", "Иван", "Ольга", "Петр", "Мария", "Сергей"],
"Возраст": [25, 30, 22, 40, 35, 28],
"Город": ["Москва", "СПб", "Казань", "Новосибирск",
"Екатеринбург", "Сочи"]
}
df = pd.DataFrame(data)
# Выведем первые 3 строки
print(df.head(3))

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [67]:
print(df.tail(2)) # Последние 2 строки

      Имя  Возраст         Город
4   Мария       35  Екатеринбург
5  Сергей       28          Сочи

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Имя      6 non-null      object
 1   Возраст  6 non-null      int64
 2   Город    6 non-null      object
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes

In [71]:
print(df.describe())

        Возраст
count   6.00000
mean   30.00000
std     6.60303
min    22.00000
25%    25.75000
50%    29.00000
75%    33.75000
max    40.00000

In [73]:
print(df.describe(include="object")) # Анализ строковых данных

         Имя   Город
count      6       6
unique     6       6
top     Анна  Москва
freq       1       1

In [75]:
import pandas as pd
data = {
"Имя": ["Анна", "Иван", "Ольга", "Петр"],
"Возраст": [25, 30, 22, 40],
"Город": ["Москва", "СПб", "Казань", "Новосибирск"]
}
df = pd.DataFrame(data, index=["a", "b", "c", "d"])
print(df)

     Имя  Возраст        Город
a   Анна       25       Москва
b   Иван       30          СПб
c  Ольга       22       Казань
d   Петр       40  Новосибирск

In [77]:
print(df.loc["b"])

Имя        Иван
Возраст      30
Город       СПб
Name: b, dtype: object

In [79]:
print(df.loc["c", "Город"]) # Получим город Ольги

Казань

In [81]:
print(df.loc[["a", "c"]]) # Выбор строк "a" и "c"

     Имя  Возраст   Город
a   Анна       25  Москва
c  Ольга       22  Казань

In [83]:
print(df.loc[:, ["Имя", "Город"]]) # Выбор всех строк, но только двух столбцов

     Имя        Город
a   Анна       Москва
b   Иван          СПб
c  Ольга       Казань
d   Петр  Новосибирск

In [85]:
print(df.loc[df["Возраст"] > 25]) # Выведем строки, где возраст больше 25

    Имя  Возраст        Город
b  Иван       30          СПб
d  Петр       40  Новосибирск

In [87]:
print(df.iloc[1]) # Вторая строка (нумерация с 0)

Имя        Иван
Возраст      30
Город       СПб
Name: b, dtype: object

In [89]:
print(df.iloc[2, 2]) # 3-я строка, 3-й столбец (Город Ольги)

Казань

In [91]:
print(df.iloc[[0, 2]]) # Строки 0 и 2 (Анна и Ольга)

     Имя  Возраст   Город
a   Анна       25  Москва
c  Ольга       22  Казань

In [93]:
print(df.iloc[1:3]) # Выбираем строки с 1 по 2 (не включая 3)

     Имя  Возраст   Город
b   Иван       30     СПб
c  Ольга       22  Казань

In [95]:
print(df.iloc[:, [0, 2]]) # Все строки, но только 1-й и 3-й столбцы

     Имя        Город
a   Анна       Москва
b   Иван          СПб
c  Ольга       Казань
d   Петр  Новосибирск

In [97]:
print(df.at["c", "Город"]) # Город Ольги

Казань

In [99]:
print(df.iat[2, 2]) # Город Ольги (3-я строка, 3-й столбец)

Казань

In [101]:
import pandas as pd
data = {
"Имя": ["Анна", "Иван", "Ольга"],
"Возраст": [25, 30, 22]
}
df = pd.DataFrame(data)
df["Город"] = ["Москва", "СПб", "Казань"] # Добавляем новый столбец
print(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [103]:
df["Страна"] = "Россия"
print(df)

     Имя  Возраст   Город  Страна
0   Анна       25  Москва  Россия
1   Иван       30     СПб  Россия
2  Ольга       22  Казань  Россия

In [105]:
df["Возраст_в_месяцах"] = df["Возраст"] * 12
print(df)

     Имя  Возраст   Город  Страна  Возраст_в_месяцах
0   Анна       25  Москва  Россия                300
1   Иван       30     СПб  Россия                360
2  Ольга       22  Казань  Россия                264

In [107]:
df = df.assign(Зарплата=[50000, 60000, 45000])
print(df)

     Имя  Возраст   Город  Страна  Возраст_в_месяцах  Зарплата
0   Анна       25  Москва  Россия                300     50000
1   Иван       30     СПб  Россия                360     60000
2  Ольга       22  Казань  Россия                264     45000

In [109]:
df["Категория возраста"] = df["Возраст"].apply(lambda x: "Молодой" if
x < 30 else "Взрослый")
print(df)

     Имя  Возраст   Город  Страна  Возраст_в_месяцах  Зарплата  \
0   Анна       25  Москва  Россия                300     50000
1   Иван       30     СПб  Россия                360     60000
2  Ольга       22  Казань  Россия                264     45000

  Категория возраста
0            Молодой
1           Взрослый
2            Молодой

In [238]:
df.loc[3] = ["Петр", "Новосибирск", "Россия"]
print(df)

     Имя      Возраст   Город
0   Анна           25  Москва
1   Иван           30     СПб
2  Ольга           22  Казань
3   Петр  Новосибирск  Россия

In [123]:
new_data = pd.DataFrame([{"Имя": "Алексей", "Возраст": 29, "Город":
"Томск", "Страна": "Россия"}])
df = pd.concat([df, new_data], ignore_index=True)
print(df)

       Имя  Возраст   Город  Страна  Возраст_в_месяцах  Зарплата  \
0     Анна       25  Москва  Россия              300.0   50000.0
1     Иван       30     СПб  Россия              360.0   60000.0
2    Ольга       22  Казань  Россия              264.0   45000.0
3  Алексей       29   Томск  Россия                NaN       NaN

  Категория возраста
0            Молодой
1           Взрослый
2            Молодой
3                NaN

In [125]:
new_rows = pd.DataFrame([{"Имя": "Дмитрий", "Возраст": 31, "Город": "Самара", "Страна":
"Россия"},
{"Имя": "Елена", "Возраст": 27, "Город": "Воронеж", "Страна":
"Россия"}
])
df = pd.concat([df, new_rows], ignore_index=True)
print(df)

       Имя  Возраст    Город  Страна  Возраст_в_месяцах  Зарплата  \
0     Анна       25   Москва  Россия              300.0   50000.0
1     Иван       30      СПб  Россия              360.0   60000.0
2    Ольга       22   Казань  Россия              264.0   45000.0
3  Алексей       29    Томск  Россия                NaN       NaN
4  Дмитрий       31   Самара  Россия                NaN       NaN
5    Елена       27  Воронеж  Россия                NaN       NaN

  Категория возраста
0            Молодой
1           Взрослый
2            Молодой
3                NaN
4                NaN
5                NaN

In [244]:
df.loc["новый"] = ["Артем", "Калуга", "Россия"]
print(df)

         Имя      Возраст   Город
0       Анна           25  Москва
1       Иван           30     СПб
2      Ольга           22  Казань
3       Петр  Новосибирск  Россия
новый  Артем       Калуга  Россия

In [129]:
import pandas as pd
data = {
"Имя": ["Анна", "Иван", "Ольга"],
"Возраст": [25, 30, 22],
"Город": ["Москва", "СПб", "Казань"],
"Зарплата": [50000, 60000, 45000]
}
df = pd.DataFrame(data)
# Удаляем столбец "Зарплата"
df = df.drop(columns=["Зарплата"])
print(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [131]:
df = df.drop(columns=["Возраст", "Город"])
print(df)

     Имя
0   Анна
1   Иван
2  Ольга

In [133]:
del df["Имя"]
print(df)

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [135]:
df["Имя"] = ["Анна", "Иван", "Ольга"] # Вернем столбец для примера
удаленный_столбец = df.pop("Имя")
print(удаленный_столбец)

0     Анна
1     Иван
2    Ольга
Name: Имя, dtype: object

In [137]:
df = pd.DataFrame(data) # Восстанавливаем DataFrame
# Удаляем строку с индексом 1 (Иван)
df = df.drop(index=1)
print(df)

     Имя  Возраст   Город  Зарплата
0   Анна       25  Москва     50000
2  Ольга       22  Казань     45000

In [139]:
df = df.drop(index=[0, 2]) # Удаляем Анну и Ольгу
print(df)

Empty DataFrame
Columns: [Имя, Возраст, Город, Зарплата]
Index: []

In [141]:
df = pd.DataFrame(data) # Восстанавливаем DataFrame
# Оставляем только людей старше 25 лет
df = df[df["Возраст"] > 25]
print(df)

    Имя  Возраст Город  Зарплата
1  Иван       30   СПб     60000

In [143]:
df = df.reset_index(drop=True) # Сбрасываем индексы
print(df)

    Имя  Возраст Город  Зарплата
0  Иван       30   СПб     60000

In [147]:
df.loc[3] = ["Мария", None, "Самара", 55000] # Добавим строку с пропуском
df = df.dropna() # Удалим все строки с пропущенными значениями
print(df)

    Имя Возраст Город  Зарплата
0  Иван      30   СПб     60000

In [149]:
df = pd.DataFrame({
"Имя": ["Анна", "Иван", "Анна", "Ольга"],
"Возраст": [25, 30, 25, 22]
})
df = df.drop_duplicates()
print(df)

     Имя  Возраст
0   Анна       25
1   Иван       30
3  Ольга       22

In [151]:
df = df.drop_duplicates(subset=["Имя"])

In [153]:
import pandas as pd
data = {
"Имя": ["Анна", "Иван", "Ольга", "Петр", "Мария"],
"Возраст": [25, 30, 22, 40, 35],
"Город": ["Москва", "СПб", "Казань", "Новосибирск", "СПб"],
"Зарплата": [50000, 60000, 45000, 70000, 65000]
}
df = pd.DataFrame(data)
print(df)

     Имя  Возраст        Город  Зарплата
0   Анна       25       Москва     50000
1   Иван       30          СПб     60000
2  Ольга       22       Казань     45000
3   Петр       40  Новосибирск     70000
4  Мария       35          СПб     65000

In [155]:
df_filtered = df.query("Возраст > 30")
print(df_filtered)

     Имя  Возраст        Город  Зарплата
3   Петр       40  Новосибирск     70000
4  Мария       35          СПб     65000

In [157]:
df_filtered = df.query("Город == 'СПб' and Зарплата > 60000")
print(df_filtered)

     Имя  Возраст Город  Зарплата
4  Мария       35   СПб     65000

In [159]:
min_age = 25
df_filtered = df.query("Возраст > @min_age")
print(df_filtered)

     Имя  Возраст        Город  Зарплата
1   Иван       30          СПб     60000
3   Петр       40  Новосибирск     70000
4  Мария       35          СПб     65000

In [161]:
df_filtered = df[df["Город"].isin(["Москва", "СПб"])]
print(df_filtered)

     Имя  Возраст   Город  Зарплата
0   Анна       25  Москва     50000
1   Иван       30     СПб     60000
4  Мария       35     СПб     65000

In [163]:
df_filtered = df[~df["Город"].isin(["Москва", "СПб"])]
print(df_filtered)

     Имя  Возраст        Город  Зарплата
2  Ольга       22       Казань     45000
3   Петр       40  Новосибирск     70000

In [165]:
df_filtered = df[df["Возраст"].between(25, 35)]
print(df_filtered)

     Имя  Возраст   Город  Зарплата
0   Анна       25  Москва     50000
1   Иван       30     СПб     60000
4  Мария       35     СПб     65000

In [167]:
df_filtered = df[df["Возраст"].between(25, 35, inclusive="neither")]
print(df_filtered)

    Имя  Возраст Город  Зарплата
1  Иван       30   СПб     60000

In [169]:
import pandas as pd
data = {"Имя": ["Анна", "Иван", "Ольга", "Петр", None],
"Возраст": [25, 30, 22, None, 35],
"Город": ["Москва", "СПб", "Казань", "Новосибирск", "СПб"]
}
df = pd.DataFrame(data)
print(df)

     Имя  Возраст        Город
0   Анна     25.0       Москва
1   Иван     30.0          СПб
2  Ольга     22.0       Казань
3   Петр      NaN  Новосибирск
4   None     35.0          СПб

In [171]:
print(df.count())

Имя        4
Возраст    4
Город      5
dtype: int64

In [173]:
print(df["Город"].value_counts())

Город
СПб            2
Москва         1
Казань         1
Новосибирск    1
Name: count, dtype: int64

In [175]:
print(df["Город"].value_counts(sort=False))

Город
Москва         1
СПб            2
Казань         1
Новосибирск    1
Name: count, dtype: int64

In [177]:
print(df["Имя"].value_counts(dropna=False))

Имя
Анна     1
Иван     1
Ольга    1
Петр     1
None     1
Name: count, dtype: int64

In [179]:
print(df.nunique())

Имя        4
Возраст    4
Город      4
dtype: int64

In [181]:
print(df["Имя"].nunique(dropna=False))

5

In [183]:
print(df.isna().sum())

Имя        1
Возраст    1
Город      0
dtype: int64

In [185]:
import pandas as pd
data = {
"Имя": ["Анна", "Иван", "Ольга", "Петр", "Мария"],
"Возраст": [25, 30, 22, 40, 35],
"Зарплата": [50000, 60000, 45000, 70000, 65000]
}
df = pd.DataFrame(data)
print(df)

     Имя  Возраст  Зарплата
0   Анна       25     50000
1   Иван       30     60000
2  Ольга       22     45000
3   Петр       40     70000
4  Мария       35     65000

In [187]:
df_sorted = df.sort_values(by="Возраст")
print(df_sorted)

     Имя  Возраст  Зарплата
2  Ольга       22     45000
0   Анна       25     50000
1   Иван       30     60000
4  Мария       35     65000
3   Петр       40     70000

In [189]:
df_sorted = df.sort_values(by="Возраст", ascending=False)
print(df_sorted)

     Имя  Возраст  Зарплата
3   Петр       40     70000
4  Мария       35     65000
1   Иван       30     60000
0   Анна       25     50000
2  Ольга       22     45000

In [193]:
df.loc[5] = ["Елена", None, 55000] # Добавляем строку с NaN в
"Возраст"
df_sorted = df.sort_values(by="Возраст", na_position="first")
print(df_sorted)

     Имя Возраст  Зарплата
5  Елена    None     55000
2  Ольга      22     45000
0   Анна      25     50000
1   Иван      30     60000
4  Мария      35     65000
3   Петр      40     70000

In [195]:
df_sorted = df.sort_index()
print(df_sorted)

     Имя Возраст  Зарплата
0   Анна      25     50000
1   Иван      30     60000
2  Ольга      22     45000
3   Петр      40     70000
4  Мария      35     65000
5  Елена    None     55000

In [197]:
df_sorted = df.sort_index(ascending=False)
print(df_sorted)

     Имя Возраст  Зарплата
5  Елена    None     55000
4  Мария      35     65000
3   Петр      40     70000
2  Ольга      22     45000
1   Иван      30     60000
0   Анна      25     50000

In [199]:
df = pd.DataFrame({
"Имя": ["Анна", "Иван", "Ольга"],
"Возраст": [25, 30, 22],
"Город": ["Москва", "СПб", "Казань"]
})
print(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [201]:
from IPython.display import display
display(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [203]:
df.head(5) # Выведет первые 5 строк

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [205]:
df.tail(3) # Выведет последние 3 строки

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [207]:
pd.set_option("display.max_rows", 100) # Показывать до 100 строк

In [209]:
pd.set_option("display.max_columns", 50) # Показывать до 50 столбцов

In [211]:
pd.set_option("display.max_colwidth", None)

In [213]:
pd.set_option("display.float_format", "{:.2f}".format)

In [215]:
df.style.set_sticky()

In [217]:
pip install qgrid

Collecting qgrid
  Downloading qgrid-1.3.1.tar.gz (889 kB)
     ---------------------------------------- 0.0/889.2 kB ? eta -:--:--
     ----------- ---------------------------- 262.1/889.2 kB ? eta -:--:--
     --------------------------------- ---- 786.4/889.2 kB 3.4 MB/s eta 0:00:01
     -------------------------------------- 889.2/889.2 kB 1.7 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: notebook>=4.0.0 in c:\users\hesko\anaconda3\lib\site-packages (from qgrid) (7.2.2)
Requirement already satisfied: pandas>=0.18.0 in c:\users\hesko\anaconda3\lib\site-packages (from qgrid) (2.2.2)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\hesko\anaconda3\lib\site-packages (from qgrid) (7.8.1)
Requirement already satisfied: comm>=0.1.3 in c:\users\hesko\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->qgrid) (0.2.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in c:\users\hesko\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->qgrid) (0.2.0)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\hesko\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->qgrid) (5.14.3)
Requirement already satisfied: widgetsnbextension~=3.6.6 in c:\users\hesko\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->qgrid) (3.6.6)
Requirement already satisfied: ipython>=4.0.0 in c:\users\hesko\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->qgrid) (8.27.0)
Requirement already satisfied: jupyterlab-widgets<3,>=1.0.0 in c:\users\hesko\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->qgrid) (1.0.0)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in c:\users\hesko\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (2.14.1)
Requirement already satisfied: jupyterlab-server<3,>=2.27.1 in c:\users\hesko\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (2.27.3)
Requirement already satisfied: jupyterlab<4.3,>=4.2.0 in c:\users\hesko\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (4.2.5)
Requirement already satisfied: notebook-shim<0.3,>=0.2 in c:\users\hesko\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (0.2.3)
Requirement already satisfied: tornado>=6.2.0 in c:\users\hesko\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (6.4.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hesko\anaconda3\lib\site-packages (from pandas>=0.18.0->qgrid) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hesko\anaconda3\lib\site-packages (from pandas>=0.18.0->qgrid) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hesko\anaconda3\lib\site-packages (from pandas>=0.18.0->qgrid) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hesko\anaconda3\lib\site-packages (from pandas>=0.18.0->qgrid) (2023.3)
Requirement already satisfied: decorator in c:\users\hesko\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\hesko\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\hesko\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\hesko\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\hesko\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (2.15.1)
Requirement already satisfied: stack-data in c:\users\hesko\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.2.0)
Requirement already satisfied: colorama in c:\users\hesko\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.4.6)
Requirement already satisfied: anyio>=3.1.0 in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (4.2.0)
Requirement already satisfied: argon2-cffi>=21.1 in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (21.3.0)
Requirement already satisfied: jinja2>=3.0.3 in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (3.1.4)
Requirement already satisfied: jupyter-client>=7.4.4 in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (8.6.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (5.7.2)
Requirement already satisfied: jupyter-events>=0.9.0 in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (0.10.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (0.4.4)
Requirement already satisfied: nbconvert>=6.4.4 in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (7.16.4)
Requirement already satisfied: nbformat>=5.3.0 in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (5.10.4)
Requirement already satisfied: overrides>=5.0 in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (7.4.0)
Requirement already satisfied: packaging>=22.0 in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (24.1)
Requirement already satisfied: prometheus-client>=0.9 in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (0.14.1)
Requirement already satisfied: pywinpty>=2.0.1 in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (2.0.10)
Requirement already satisfied: pyzmq>=24 in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (25.1.2)
Requirement already satisfied: send2trash>=1.8.2 in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (1.8.2)
Requirement already satisfied: terminado>=0.8.3 in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (0.17.1)
Requirement already satisfied: websocket-client>=1.7 in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (1.8.0)
Requirement already satisfied: async-lru>=1.0.0 in c:\users\hesko\anaconda3\lib\site-packages (from jupyterlab<4.3,>=4.2.0->notebook>=4.0.0->qgrid) (2.0.4)
Requirement already satisfied: httpx>=0.25.0 in c:\users\hesko\anaconda3\lib\site-packages (from jupyterlab<4.3,>=4.2.0->notebook>=4.0.0->qgrid) (0.27.0)
Requirement already satisfied: ipykernel>=6.5.0 in c:\users\hesko\anaconda3\lib\site-packages (from jupyterlab<4.3,>=4.2.0->notebook>=4.0.0->qgrid) (6.28.0)
Requirement already satisfied: jupyter-lsp>=2.0.0 in c:\users\hesko\anaconda3\lib\site-packages (from jupyterlab<4.3,>=4.2.0->notebook>=4.0.0->qgrid) (2.2.0)
Requirement already satisfied: setuptools>=40.1.0 in c:\users\hesko\anaconda3\lib\site-packages (from jupyterlab<4.3,>=4.2.0->notebook>=4.0.0->qgrid) (75.1.0)
Requirement already satisfied: babel>=2.10 in c:\users\hesko\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.27.1->notebook>=4.0.0->qgrid) (2.11.0)
Requirement already satisfied: json5>=0.9.0 in c:\users\hesko\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.27.1->notebook>=4.0.0->qgrid) (0.9.6)
Requirement already satisfied: jsonschema>=4.18.0 in c:\users\hesko\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.27.1->notebook>=4.0.0->qgrid) (4.23.0)
Requirement already satisfied: requests>=2.31 in c:\users\hesko\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.27.1->notebook>=4.0.0->qgrid) (2.32.3)
Requirement already satisfied: six>=1.5 in c:\users\hesko\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.18.0->qgrid) (1.16.0)
Requirement already satisfied: idna>=2.8 in c:\users\hesko\anaconda3\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (3.7)
Requirement already satisfied: sniffio>=1.1 in c:\users\hesko\anaconda3\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (1.3.0)
Requirement already satisfied: argon2-cffi-bindings in c:\users\hesko\anaconda3\lib\site-packages (from argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (21.2.0)
Requirement already satisfied: certifi in c:\users\hesko\anaconda3\lib\site-packages (from httpx>=0.25.0->jupyterlab<4.3,>=4.2.0->notebook>=4.0.0->qgrid) (2025.1.31)
Requirement already satisfied: httpcore==1.* in c:\users\hesko\anaconda3\lib\site-packages (from httpx>=0.25.0->jupyterlab<4.3,>=4.2.0->notebook>=4.0.0->qgrid) (1.0.2)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\hesko\anaconda3\lib\site-packages (from httpcore==1.*->httpx>=0.25.0->jupyterlab<4.3,>=4.2.0->notebook>=4.0.0->qgrid) (0.14.0)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\hesko\anaconda3\lib\site-packages (from ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook>=4.0.0->qgrid) (1.6.7)
Requirement already satisfied: nest-asyncio in c:\users\hesko\anaconda3\lib\site-packages (from ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook>=4.0.0->qgrid) (1.6.0)
Requirement already satisfied: psutil in c:\users\hesko\anaconda3\lib\site-packages (from ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook>=4.0.0->qgrid) (5.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\hesko\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.8.3)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\hesko\anaconda3\lib\site-packages (from jinja2>=3.0.3->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (2.1.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\hesko\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook>=4.0.0->qgrid) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\hesko\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook>=4.0.0->qgrid) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\hesko\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook>=4.0.0->qgrid) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\hesko\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook>=4.0.0->qgrid) (0.10.6)
Requirement already satisfied: platformdirs>=2.5 in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (305.1)
Requirement already satisfied: python-json-logger>=2.0.4 in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (2.0.7)
Requirement already satisfied: pyyaml>=5.3 in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (6.0.1)
Requirement already satisfied: rfc3339-validator in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in c:\users\hesko\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (0.1.1)
Requirement already satisfied: beautifulsoup4 in c:\users\hesko\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (4.12.3)
Requirement already satisfied: bleach!=5.0.0 in c:\users\hesko\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (4.1.0)
Requirement already satisfied: defusedxml in c:\users\hesko\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\hesko\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (0.1.2)
Requirement already satisfied: mistune<4,>=2.0.3 in c:\users\hesko\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (2.0.4)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\hesko\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (0.8.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\hesko\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (1.5.0)
Requirement already satisfied: tinycss2 in c:\users\hesko\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (1.2.1)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\hesko\anaconda3\lib\site-packages (from nbformat>=5.3.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (2.16.2)
Requirement already satisfied: wcwidth in c:\users\hesko\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hesko\anaconda3\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->notebook>=4.0.0->qgrid) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hesko\anaconda3\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->notebook>=4.0.0->qgrid) (2.2.3)
Requirement already satisfied: executing in c:\users\hesko\anaconda3\lib\site-packages (from stack-data->ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.8.3)
Requirement already satisfied: asttokens in c:\users\hesko\anaconda3\lib\site-packages (from stack-data->ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\hesko\anaconda3\lib\site-packages (from stack-data->ipython>=4.0.0->ipywidgets>=7.0.0->qgrid) (0.2.2)
Requirement already satisfied: webencodings in c:\users\hesko\anaconda3\lib\site-packages (from bleach!=5.0.0->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (0.5.1)
Collecting fqdn (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid)
  Downloading fqdn-1.5.1-py3-none-any.whl.metadata (1.4 kB)
Collecting isoduration (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid)
  Downloading isoduration-20.11.0-py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: jsonpointer>1.13 in c:\users\hesko\anaconda3\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (2.1)
Collecting uri-template (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid)
  Downloading uri_template-1.3.0-py3-none-any.whl.metadata (8.8 kB)
Collecting webcolors>=24.6.0 (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid)
  Downloading webcolors-24.11.1-py3-none-any.whl.metadata (2.2 kB)
Requirement already satisfied: cffi>=1.0.1 in c:\users\hesko\anaconda3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (1.17.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\hesko\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (2.5)
Requirement already satisfied: pycparser in c:\users\hesko\anaconda3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (2.21)
Requirement already satisfied: arrow>=0.15.0 in c:\users\hesko\anaconda3\lib\site-packages (from isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook>=4.0.0->qgrid) (1.2.3)
Downloading webcolors-24.11.1-py3-none-any.whl (14 kB)
Downloading fqdn-1.5.1-py3-none-any.whl (9.1 kB)
Downloading isoduration-20.11.0-py3-none-any.whl (11 kB)
Downloading uri_template-1.3.0-py3-none-any.whl (11 kB)
Building wheels for collected packages: qgrid
  Building wheel for qgrid (setup.py): started
  Building wheel for qgrid (setup.py): finished with status 'done'
  Created wheel for qgrid: filename=qgrid-1.3.1-py2.py3-none-any.whl size=1761261 sha256=aae1fd483c36a2bdfd300c6367847937b1afaeb1bdfcf8e6e25fe0cc8e1052b4
  Stored in directory: c:\users\hesko\appdata\local\pip\cache\wheels\0a\83\df\0bccd6bcfb1923fcca59ca6f7b04f6b8d19300faf1a4edcc02
Successfully built qgrid
Installing collected packages: webcolors, uri-template, fqdn, isoduration, qgrid
Successfully installed fqdn-1.5.1 isoduration-20.11.0 qgrid-1.3.1 uri-template-1.3.0 webcolors-24.11.1
Note: you may need to restart the kernel to use updated packages.

In [219]:
import qgrid
qgrid_widget = qgrid.show_grid(df, show_toolbar=True)
qgrid_widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [221]:
from tabulate import tabulate
print(tabulate(df, headers="keys", tablefmt="github"))

|    | Имя   |   Возраст | Город   |
|----|-------|-----------|---------|
|  0 | Анна  |        25 | Москва  |
|  1 | Иван  |        30 | СПб     |
|  2 | Ольга |        22 | Казань  |

In [223]:
df.style.set_properties(**{"background-color": "lightgray", "color": "black"})

In [227]:
html_table = df.to_html()
with open("table.html", "w", encoding="utf-8") as f:
    f.write(html_table)